






















#tool-tip {
    width: 10vw;
	height: 20vh;
    position: absolute;
    background: lightgrey;
    display: none;
    padding: 10px;
    border: 2px solid blue;
    font-size: 1.15em;
	z-index: 2;
}



#output-bank {
	width: 40vw;
	background-color: rgb(230,230,230);
	opacity: .9;
	float: right;
	visibility: visible;
	height: 195px;
	border: 1px inset black;
	margin: 1px 2px;
	overflow-y: auto;
}




